<% provide(:title, "About") %>
<h1>About</h1>
<p>Hello! Thank you for checking out our site!</p>
<p>&nbsp;</p>
<p>We are a group of students from Crescenta Valley High School, and work in the Super AP Computer Science program. This means that we are students who completed the AP Computer Science A exam, and wanted to continue expanding our knowledge of coding.</p>
<p>&nbsp;</p>
<p>This website was designed using Ruby on Rails, and inspired by desires to connect during one of the main waves of the CoronaVirus in 2020. We hope that this website can help bridge familes who can't be together, and provide a fun alternative to playing trivia!</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
