<% provide(:title, "Help") %>
<div class="jumbotron jumbotron-fluid" style="background-color: #AEAEAE">
  <div class="container">
    <h1 class="display-4">Help</h1>
    <hr class="my-4">
    <p class="lead">For information on how to create games, play games, sign-up, and more, please look below.</p>
  </div>
</div>
