<body>


<canvas class="webgl"></canvas>
    
  <svg viewBox="0 0 1150 500" style="font: 14.5em/1 Open Sans, Impact; text-transform: uppercase; margin: 0; border-radius: 50px;">
  


  <path class="pathhome" d="M 0 200 C 100,100 200,100 310,200
           C 310,200 400,300 200,360
           C 200,360 0,400 200,200
           C 200,200 300,50 500,150
           C 500,150 600,200 640,260
           C 640,260 740,360 790,160
           C 790,160 740,0 500,300
           C 500,300 250,500 900,300
           C 900,300 1100,200 1300,400" 
           stroke="#9FA6E3" stroke-width="3" fill="none"/>

  

  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="30%" dy=".3em">
        Dr Neats
     </text>
  </symbol>

  <use xlink:href="#s-text" class="text"></use>



  <symbol id="a-text2">
  <text text-anchor="middle" x="50%" y="65%" dy=".3em" width="40%">
      Trivia App
   </text>
</symbol>

<!-- Duplicate symbols -->
<use xlink:href="#a-text2" class="text2" id="one"></use>
<use xlink:href="#a-text2" class="text2"></use>
<use xlink:href="#a-text2" class="text2"></use>
<use xlink:href="#a-text2" class="text2"></use>
<use xlink:href="#a-text2" class="text2"></use>
</svg>

</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>



  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
  </div>


  <p>&nbsp;</p>



</div>

</body>
