  <div class="body2">
  <svg viewBox="0 0 1200 500">

  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="30%" dy=".3em">
        Dr Neat's
     </text>
  </symbol>

  <!-- Duplicate symbols -->
  <use xlink:href="#s-text" class="text"></use>
  <use xlink:href="#s-text" class="text"></use>
  <use xlink:href="#s-text" class="text"></use>
  <use xlink:href="#s-text" class="text"></use>
  <use xlink:href="#s-text" class="text"></use>


  <symbol id="a-text2">
  <text text-anchor="middle" x="50%" y="65%" dy=".3em" width="40%">
      Trivia App
   </text>
</symbol>

<!-- Duplicate symbols -->
<use xlink:href="#a-text2" class="text2" height:40%; width: 40%></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>

</svg>

</div>


  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
  </div>





</div>
