  
  <body>
  <svg viewBox="0 0 1150 500" style="font: 14.5em/1 Open Sans, Impact; text-transform: uppercase; margin: 0; border-radius: 50px;">

  <circle class="circlesvghome" cx="100" cy="400" r="200" stroke="#6B7AA1" stroke-width="8" fill="#11324D" />
  


  <path d="M 0 200 C 100,100 200,100 300,100" stroke="red" stroke-width="3" fill="none"/>
  


  <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="30%" dy=".3em">
        Dr Neat's
     </text>
  </symbol>

  <use xlink:href="#s-text" class="text"></use>



  <symbol id="a-text2">
  <text text-anchor="middle" x="50%" y="65%" dy=".3em" width="40%">
      Trivia App
   </text>
</symbol>

<!-- Duplicate symbols -->
<use xlink:href="#a-text2" class="text2" height:40%; width: 40%></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
<use xlink:href="#a-text2" class="text2" style="height:40%; width: 40%"></use>
</svg>

</div>


  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
  </div>





</div>

</body>
