
<div class="center jumbotron" style="opacity:0.55">
<h1 style="opacity:".1">Welcome to Dr. Neat's Trivia App!</h1>

<p>&nbsp;</p>

<h2>
This is the home page for CV Enterprises Trivia application.
</h2>
<p>&nbsp;</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<p>&nbsp;</p>


<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
</div>
