<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>


<div class="row">
  <div class="column" style="background-color:#aaa;">
  <h1>Welcome to Dr. Neat's Trivia App!</h1>

  <p>&nbsp;</p>

  <h2>
  This is the home page for CV Enterprises Trivia application.
  </h2>
  <p>&nbsp;</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <p>&nbsp;</p>


  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
  </div>



  <div class="column" style="background-color:#bbb;">


  

<svg height="210" width="500">
  <polygon class="svganimate" points="100,10 40,198 190,78 10,78 160,198" style="fill:transparent;stroke:blue;stroke-width:5;fill-rule:nonzero;"/>
  Sorry, your browser does not support inline SVG.
</svg>


  </div>
</div>



</div>
