<style>
body {
    
    color: #131137;
}
</style>
<% provide(:title, "Game") %>
<div class="jumbotron jumbotron-fluid" style="background-color: #AEAEAE">
<%= form_with url: '/play' , method: :post do |form| %>
  <%= form.label :query, "Game Session" %>
  <input name="gamesession">
  <%= form.submit "Submit" %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>
<ol>
<p>1. Join Game leads to room specific to id</p>
<p>2. People in the same room have same stuff happen</p>
<p>3. Make it so they text eachother as test, later implement to chat feature</p>
<p>4. Delay texts to go after a timer</p>
<p>5. Add answering system, implement with previous stuff</p>
<p>6. Read trivia form from db</p>

</ol>
</div>
