<script>
var counter = 0;
  var frq_counter = 0;
  function create_mutiplechoice() {
    counter++;
    var mutiple_choice = document.createElement("div");
    mutiple_choice.id = `mutiplechoice${counter}`;
    mutiple_choice.innerHTML = `
    <div class="row">
    <div class="col-md-1 col-md-offset-11">
      <div id="trashbin" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'black'" style="display: none" onclick="destroy(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <label>Question</label>
      <input type="text" class="form-control" placeholder="Question">
    </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <label>A.</label>
          <input type="text" class="form-control" placeholder="A.">
        </div>
        <div class="col-md-6">
          <label>B.</label>
          <input type="text" class="form-control" placeholder="B.">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>C.</label>
          <input type="text" class="form-control" placeholder="C.">
        </div>
        <div class="col-md-6">
          <label>D.</label>
          <input type="text" class="form-control" placeholder="D.">
        </div>
      </div>
    `
    var row = document.getElementById("questionsrow");
    row.appendChild(mutiple_choice);
  }
  function create_frq(){
    var frq = document.createElement("div");
    frq.id = `frq${frq_counter}`
    frq.innerHTML = 
    `
    <div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin" onmouseover="document.getElementById('trashbin').style.color = 'orange'" onmouseout="document.getElementById('trashbin').style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col-md-6">
        <label>Question</label>
        <input type="text" class="form-control" placeholder="Question">
      </div>
      <div class="col-md-6">
        <label>Answer</label>
        <input type="text" class="form-control" placeholder="Answer">
      </div>
    </div>`;
    var row = document.getElementById("questionsrow");
    row.appendChild(frq);
  }
  function destroy(node){
    var parent = node;

    while(!(parent.id.includes("mutiplechoice") || parent.id.includes("frq"))){
      parent = parent.parentNode;
    }
    parent.remove();
  }
</script>
<div class="center jumbotron">

<h1>Create New Trivia Game</h1>
<form>
<div class="container">
</div>
<div class="container">
  <div class="row">
      <div class="col-md-1 col-md-offset-11">
      <div class="dropdown">
      <button class="dropbtn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
    </button>
      <div class="dropdown-content">
        <a href="javascript:void(0);" onclick="create_mutiplechoice()">Add Mutiple Choice</a>
        <a href="javascript:void(0);" onclick="create_frq()">Add FRQ</a>
      </div>
      </div>
      </div>
  </div>
</div>
<div class="myBox">
<div class="container" id="questionsrow">
<div id="mutiplechoice0" onmouseover="document.getElementById('trashbin').style.display = 'block'" onmouseout="document.getElementById('trashbin').style.display = 'none'">
<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin" onmouseover="document.getElementById('trashbin').style.color = 'orange'" onmouseout="document.getElementById('trashbin').style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <label>Question</label>
      <input type="text" class="form-control" placeholder="Question">
    </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <label>A.</label>
          <input type="text" class="form-control" placeholder="A.">
        </div>
        <div class="col-md-6">
          <label>B.</label>
          <input type="text" class="form-control" placeholder="B.">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>C.</label>
          <input type="text" class="form-control" placeholder="C.">
        </div>
        <div class="col-md-6">
          <label>D.</label>
          <input type="text" class="form-control" placeholder="D.">
        </div>
      </div>
  </div>
  <div id="frq0" style="display:none">
    <div class="row">
      <div class="col-md-6">
        <label>Question</label>
        <input type="text" class="form-control" placeholder="Question">
      </div>
      <div class="col-md-6">
        <label>Answer</label>
        <input type="text" class="form-control" placeholder="Answer">
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
<div class="container" style="padding-top: 15px">
<div class="row">
    <div class="col-md-1 col-md-offset-11">
      <a href="#" class="btn btn-info">Submit</a>
    </div>
  </div>
</div>
</form>
</div>