
<style>
body {
    
    color: #131137;
}
</style>
<div id="container">
<div id="container1">
<h2>Game code </h2>
<h2 id="gamesession"><%=params[:gamesession]%></h2>
<h2>Players Joined: </h2>
<div id="players">
<% for id in Room.find_by(session: params["gamesession"]).players.split(", ") %>
<h2><%= User.find(id).name %></h2>
<% end %>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            <button id="play_button" class="btn btn-info">play --> </button>
        </div>
    </div>
</div>
<p id="host" style="display: none"><%= params["user_id"] %></p>
<p id="triviagame_id" style="display: none"><%= params["id"] %></p>
</div>
</div>
<script>
var right = 0;
var wrong = 0;
var old_correct = null;
var times = 0;
var yValues_correct = [];
var yValues_incorrect = [];
function barGraph(players, correct, incorrect,number_questions, client){
    var xValues =[];
    for(var i = 0; i < players.children.length; i++){
        xValues[i] = (players.children[i].innerText)
    }
    if(correct === null && incorrect === null){
        for(var i = 0; i < xValues.length; i++){
            yValues_correct[i] = 0
            yValues_incorrect[i] = 0;
        }
    }
    if(client === null){

    }else{
        for(var i = 0; i < xValues.length; i++){
            console.log(xValues[i]);
            if(xValues[i].toString() == client.toString()){
                yValues_incorrect[i] = incorrect/3
                yValues_correct[i] = correct - yValues_incorrect[i];
                // if(old_correct == correct){
                //     times++;
                //     yValues_correct[i] = correct+times - incorrect/3
                // }else{
                //     yValues_correct[i] = correct+times - incorrect/3
                // }
            }
        }
    }



    new Chart(document.getElementById("myChart"), {
        type: "bar",
        data: {
        labels: xValues,
        datasets: [
            {
            label: "Correct",
            backgroundColor: "green",
            data: yValues_correct
            },
            {
            label: "Incorrect",
            backgroundColor: "red",
            data: yValues_incorrect
            // beginAtZero: true
            }
        ]
        },
        options: {
        scales: {
            yAxes: [{
            display: true,
            stacked: false,
            ticks: {
                min: 0, // minimum value
                max: number_questions // maximum value
            }
        }]
        }
    }
    });
}
function test_function(button, triv){
    var index = button.parentElement.parentElement.parentElement.children[0].children[0].id
    var container = button.parentElement.parentElement.parentElement;
    for(var i = 0; i < triv.length; i++){
        if(triv[i][0].indexOf(index) != -1){
            if(triv[i][0].includes("frq")){
                var input = document.getElementsByTagName("input")[0]
                if(input.value.toLowerCase() == triv[i+1][1].toLowerCase()){
                    right++
                    document.getElementsByClassName("row")[1].setAttribute("class", "has-success has-feedback form-group row")
                }else{
                    right++;
                    wrong= wrong + 3
                    document.getElementsByClassName("row")[1].setAttribute("class", "has-error has-feedback form-group row")
                }
                setTimeout(function(){
                    document.getElementById("container").innerHTML = '';
                    var row = [];
                    row[0] = document.createElement("div")
                    row[0].className = "form-group row"
                    row[1] = document.createElement("div")
                    row[1].className = "row"
                    if(triv[i+2] === undefined){
                        var container = document.getElementById("container")
                        container.innerHTML = '';
                        var correct = document.createElement("h2")
                        correct.innerText = "Right: " + (right)
                        var incorrect = document.createElement("h2")
                        incorrect.innerText = "Wrong: " + wrong*(1/3)
                        var row = document.createElement("div")
                        row.className = 'row'
                        var cols = []
                        cols[0] = document.createElement("div")
                        cols[0].className = "col-md-6"
                        cols[1] = document.createElement("div")
                        cols[1].className = "col-md-6"
                        cols[0].appendChild(correct)
                        cols[1].appendChild(incorrect)
                        row.appendChild(cols[0])
                        row.appendChild(cols[1])
                        container.appendChild(row);
                    }else if(triv[i+2][0].includes("frq")){
                        row[0].innerHTML = `<div class="col"><input name="${triv[i+3][0]}" type="text" class="form-control"></div>`
                        var html = 
                        `
                        <div class="row">
                        <h2 id="${triv[i+2][0]}">${triv[i+2][1]}</h2>
                        </div>`
                        var col = document.createElement("div")
                        col.className = "col-md-1 col-md-offset-11";
                        var button = document.createElement("button");
                        button.className = "btn btn-info"
                        button.innerText = "Submit"
                        button.onclick = function(){test_function(this, triv)}
                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        col.appendChild(button);
                        row[1].appendChild(col);
                        document.getElementById("container").appendChild(row[1]);
                    }else{
                        var buttons = [];
                        row[0] = document.createElement("div")
                        row[0].className = "form-group row"
                        row[1] = document.createElement("div")
                        row[1].className = "row"
                        for(var counter = 0; counter < 4; counter++){
                            var col = document.createElement("div")
                            col.className = "col-md-6"
                            buttons[counter] = document.createElement("button");
                            buttons[counter].id = triv[counter+i+3][0]
                            buttons[counter].innerHTML = triv[counter+i+3][1].toString()
                            buttons[counter].value = triv[counter+i+3][2]
                            buttons[counter].className = "btn btn-info"
                            if(buttons[counter].value == 'true'){
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-success'),right++,test_function(this, triv)}
                            }else{
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-danger'),wrong++}
                            }
                            col.appendChild(buttons[counter])
                            if(counter < 2){
                                row[0].appendChild(col);
                            }else{
                                row[1].appendChild(col);
                            }

                        }
                        var html = `
                        <div class="row">
                        <h2 id="${triv[i+2][0]}">${triv[i+2][1]}</h2>
                        </div>`

                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        document.getElementById("container").appendChild(row[1])
                    }
                },750)
                break

            }else{

                setTimeout(function(){
                    var row = [];
                    if(triv[i+5] === undefined){
                        var container = document.getElementById("container")
                        container.innerHTML = '';
                        var correct = document.createElement("h2")
                        correct.innerText = "Right: " + (right-(wrong/3))
                        console.log(right);
                        var incorrect = document.createElement("h2")
                        incorrect.innerText = "Wrong: " + wrong*(1/3)
                        var row = document.createElement("div")
                        row.className = 'row'
                        var cols = []
                        cols[0] = document.createElement("div")
                        cols[0].className = "col-md-6"
                        cols[1] = document.createElement("div")
                        cols[1].className = "col-md-6"
                        cols[0].appendChild(correct)
                        cols[1].appendChild(incorrect)
                        row.appendChild(cols[0])
                        row.appendChild(cols[1])
                        container.appendChild(row);

                        
                    }else if(triv[i+5][0].includes("frq")){
                        row[1] = document.createElement("div")
                        row[1].className = 'row'
                        row[0] = document.createElement("div")
                        row[0].className = 'row'
                        row[0].innerHTML = `<div class="col"><input name="${triv[i+5][0]}" type="text" class="form-control"></div>`
                        var html = 
                        `
                        <div class="row">
                        <h2 id="${triv[i+5][0]}">${triv[i+5][1]}</h2>
                        </div>`
                        var col = document.createElement("div")
                        col.className = "col-md-1 col-md-offset-11";
                        var button = document.createElement("button");
                        button.className = "btn btn-info"
                        button.innerText = "Submit"
                        button.onclick = function(){test_function(this, triv)}
                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        col.appendChild(button);
                        row[1].appendChild(col);
                        document.getElementById("container").appendChild(row[1]);
                        
                    }else{
                        var buttons = [];
                        var row = [];
                        row[0] = document.createElement("div")
                        row[0].className = "form-group row"
                        row[1] = document.createElement("div")
                        row[1].className = "row"
                        for(var counter = 0; counter < 4; counter++){
                            var col = document.createElement("div")
                            col.className = "col-md-6"
                            buttons[counter] = document.createElement("button");
                            buttons[counter].id = triv[counter+i+6][0]
                            buttons[counter].innerHTML = triv[counter+i+6][1].toString()
                            buttons[counter].value = triv[counter+i+6][2]
                            buttons[counter].className = "btn btn-info"
                            if(buttons[counter].value == 'true'){
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-success'),right++,test_function(this, triv)}
                            }else{
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-danger'),wrong+=3, right++}
                            }
                            col.appendChild(buttons[counter])
                            if(counter < 2){
                                row[0].appendChild(col);
                            }else{
                                row[1].appendChild(col);
                            }

                        }
                        var html = `
                        <div class="row">
                        <h2 id="${triv[i+5][0]}">${triv[i+5][1]}</h2>
                        </div>`

                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        document.getElementById("container").appendChild(row[1])
                    }
                }, 750); 
                break;
            }
        }
    }
}
</script>


