<div id="container">
<div id="container1">
<h2>Game code </h2>
<h2 id="gamesession"><%=params[:gamesession]%></h2>
<h2>Players Joined: </h2>
<div id="players">
<% for id in Room.find_by(session: params["gamesession"]).players.split(", ") %>
<h2><%= User.find(id).name %></h2>
<% end %>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            <button id="play_button" class="btn btn-info">play --> </button>
        </div>
    </div>
</div>
<p id="host" style="display: hidden"><%= params["user_id"] %></p>
<p id="triviagame_id" style="display: hidden"><%= params["id"] %></p>
</div>
</div>

