<div id="container">
<div id="container1">
<h2>Host <%= User.find_by(:email=>Room.find_by(:session=>params["gamesession"]).author).name%></h2>
<p id="gamesession" style="display: none"><%=params[:gamesession]%></p>
<h2>Players Joined:</h2>
<div id="players">
<% for player in Room.find_by(:session=>params["gamesession"]).players.split(", ") %>
<% if User.find(player).id != current_user.id %>
    <h2><%=User.find(player).name%></h2>
<% end %>
<% end %>
</div>
<p id="player" style="display: hidden"><%= params["current_user"] %></p>
</div>
</div>
<script>
var right = 0;
var wrong = 0;
function test_function(button, triv, roomChannel){
    // roomChannel.send({message: "Deez nuts"})
    var index = button.parentElement.parentElement.parentElement.children[0].children[0].id
    var container = button.parentElement.parentElement.parentElement;
    for(var i = 0; i < triv.length; i++){
        if(triv[i][0].indexOf(index) != -1){
            if(triv[i][0].includes("frq")){
                var input = document.getElementsByTagName("input")[0]
                if(input.value.toLowerCase() == triv[i+1][1].toLowerCase()){
                    roomChannel.send({correct: "This user has gotten it correct"})
                    right++
                    document.getElementsByClassName("row")[1].setAttribute("class", "has-success has-feedback form-group row")
                }else{
                    roomChannel.send({correct: "This user has gotten it incorrect"})
                    wrong++
                    document.getElementsByClassName("row")[1].setAttribute("class", "has-error has-feedback form-group row")
                }
                setTimeout(function(){
                    document.getElementById("container").innerHTML = '';
                    var row = [];
                    row[0] = document.createElement("div")
                    row[0].className = "form-group row"
                    row[1] = document.createElement("div")
                    row[1].className = "row"
                    if(triv[i+2] === undefined){
                        var container = document.getElementById("container")
                        container.innerHTML = '';
                        var correct = document.createElement("h2")
                        correct.innerText = "Right: " + (right-(wrong*(1/3)))
                        var incorrect = document.createElement("h2")
                        incorrect.innerText = "Wrong: " + (wrong*(1/3))
                        var row = document.createElement("div")
                        row.className = 'row'
                        var cols = []
                        cols[0] = document.createElement("div")
                        cols[0].className = "col-md-6"
                        cols[1] = document.createElement("div")
                        cols[1].className = "col-md-6"
                        cols[0].appendChild(correct)
                        cols[1].appendChild(incorrect)
                        row.appendChild(cols[0])
                        row.appendChild(cols[1])
                        container.appendChild(row);
                    }else if(triv[i+2][0].includes("frq")){
                        row[0].innerHTML = `<div class="col"><input name="${triv[i+3][0]}" type="text" class="form-control"></div>`
                        var html = 
                        `
                        <div class="row">
                        <h2 id="${triv[i+2][0]}">${triv[i+2][1]}</h2>
                        </div>`
                        var col = document.createElement("div")
                        col.className = "col-md-1 col-md-offset-11";
                        var button = document.createElement("button");
                        button.className = "btn btn-info"
                        button.innerText = "Submit"
                        button.onclick = function(){test_function(this, triv, roomChannel)}
                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        col.appendChild(button);
                        row[1].appendChild(col);
                        document.getElementById("container").appendChild(row[1]);
                    }else{
                        var buttons = [];
                        row[0] = document.createElement("div")
                        row[0].className = "form-group row"
                        row[1] = document.createElement("div")
                        row[1].className = "row"
                        for(var counter = 0; counter < 4; counter++){
                            var col = document.createElement("div")
                            col.className = "col-md-6"
                            buttons[counter] = document.createElement("button");
                            buttons[counter].id = triv[counter+i+3][0]
                            buttons[counter].innerHTML = triv[counter+i+3][1].toString()
                            buttons[counter].value = triv[counter+i+3][2]
                            buttons[counter].className = "btn btn-info"
                            if(buttons[counter].value == 'true'){
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-success'),right++,test_function(this, triv, roomChannel)}
                            }else{
                                roomChannel.send({incorrect: "This user has gotten it incorrect"})
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-danger'),wrong++}
                            }
                            col.appendChild(buttons[counter])
                            if(counter < 2){
                                row[0].appendChild(col);
                            }else{
                                row[1].appendChild(col);
                            }

                        }
                        var html = `
                        <div class="row">
                        <h2 id="${triv[i+2][0]}">${triv[i+2][1]}</h2>
                        </div>`

                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        document.getElementById("container").appendChild(row[1])
                    }
                },750)
                break

            }else{

                setTimeout(function(){
                    var row = [];
                    if(triv[i+5] === undefined){
                        var container = document.getElementById("container")
                        container.innerHTML = '';
                        var correct = document.createElement("h2")
                        correct.innerText = "Right: " + (right-wrong)
                        var incorrect = document.createElement("h2")
                        incorrect.innerText = "Wrong: " + wrong
                        var row = document.createElement("div")
                        row.className = 'row'
                        var cols = []
                        cols[0] = document.createElement("div")
                        cols[0].className = "col-md-6"
                        cols[1] = document.createElement("div")
                        cols[1].className = "col-md-6"
                        cols[0].appendChild(correct)
                        cols[1].appendChild(incorrect)
                        row.appendChild(cols[0])
                        row.appendChild(cols[1])
                        container.appendChild(row);

                        
                    }else if(triv[i+5][0].includes("frq")){
                        row[1] = document.createElement("div")
                        row[1].className = 'row'
                        row[0] = document.createElement("div")
                        row[0].className = 'row'
                        row[0].innerHTML = `<div class="col"><input name="${triv[i+5][0]}" type="text" class="form-control"></div>`
                        var html = 
                        `
                        <div class="row">
                        <h2 id="${triv[i+5][0]}">${triv[i+5][1]}</h2>
                        </div>`
                        var col = document.createElement("div")
                        col.className = "col-md-1 col-md-offset-11";
                        var button = document.createElement("button");
                        button.className = "btn btn-info"
                        button.innerText = "Submit"
                        button.onclick = function(){test_function(this, triv, roomChannel)}
                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        col.appendChild(button);
                        row[1].appendChild(col);
                        document.getElementById("container").appendChild(row[1]);
                        
                    }else{
                        var buttons = [];
                        var row = [];
                        row[0] = document.createElement("div")
                        row[0].className = "form-group row"
                        row[1] = document.createElement("div")
                        row[1].className = "row"
                        for(var counter = 0; counter < 4; counter++){
                            var col = document.createElement("div")
                            col.className = "col-md-6"
                            buttons[counter] = document.createElement("button");
                            buttons[counter].id = triv[counter+i+6][0]
                            buttons[counter].innerHTML = triv[counter+i+6][1].toString()
                            buttons[counter].value = triv[counter+i+6][2]
                            buttons[counter].className = "btn btn-info"
                            if(buttons[counter].value == 'true'){
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-success'),right++,test_function(this, triv, roomChannel)}
                            }else{
                                buttons[counter].onclick = function(){this.setAttribute('class', 'btn btn-danger'),wrong++}
                            }
                            col.appendChild(buttons[counter])
                            if(counter < 2){
                                row[0].appendChild(col);
                            }else{
                                row[1].appendChild(col);
                            }

                        }
                        var html = `
                        <div class="row">
                        <h2 id="${triv[i+5][0]}">${triv[i+5][1]}</h2>
                        </div>`

                        document.getElementById("container").innerHTML = html;
                        document.getElementById("container").appendChild(row[0])
                        document.getElementById("container").appendChild(row[1])
                    }
                }, 750); 
                break;
            }
        }
    }
    roomChannel.send({message: [right, wrong]})
}
</script>
