<h2>Host <%= User.find_by(:email=>Room.find_by(:session=>params["gamesession"]).author).name%></h2>
<p id="gamesession" style="display: none"><%=params[:gamesession]%></p>
<h2>Players Joined:</h2>
<div id="players">
<% for player in Room.find_by(:session=>params["gamesession"]).players.split(", ") %>
<% if User.find(player) != current_user %>
    <h2><%=User.find(player).name%></h2>
<% end %>
<% end %>
</div>
<p id="player" style="display: hidden"><%= params["current_user"] %></p>
