<footer class="footer">
<small>
Associated with CV Enterprises
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li>Made by Kevin Loritsch and Gabriel Torres</a></li>
</ul>
</nav>
</footer>